<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Movie Exploder!</title>

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/site.css">

</head>
<body>

<!-- This is the root of your app -->
<div class="card">
    <h1>Movie Exploder</h1>

    <!-- Add your code here -->

</div>

<script src="../node_modules/vue/dist/vue.min.js"></script>

<!--jQuery: For the CSS dropdown only-->
<script src="../node_modules/jquery/dist/jquery.min.js"></script>

<script src="../js/site.js"></script>
</body>
</html>