{% extends 'base.html' %}

{% block content %}

  <h1 class="mui--text-display1">{% if quote %}Edit{% else %}New{% endif %} Quote</h1>
  <form method="post">
    {% csrf_token %}

    {% for field in form %}
      <td>
        <div class="mui-textfield">
            {{ field.errors }}
            <p>{{ field.label_tag }}</p>
            {{ field }}
            {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
      </td>
    {% endfor %}

    <input class="mui-btn mui-btn--primary" type="submit" value="{% if quote %}Edit{% else %}New{% endif %}" />
    <a class="mui-btn mui-btn--raised" href="{% url "quotes:quote_list" %}">Go Back</a>
  </form>

{% endblock %}
