<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--load MUI-->
    <link href="//cdn.muicss.com/mui-0.9.39/css/mui.min.css" rel="stylesheet" type="text/css">
    <script src="//cdn.muicss.com/mui-0.9.39/js/mui.min.js"></script>
        <title>Session explorer (extremely Beta)</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main01.css') }}"> -->
</head>
<body>
    <div class="mui-panel">Menu
        <button class="mui-btn mui-btn--raised"><a href="/index">Home</a></button>
        <button class="mui-btn mui-btn--raised"><a href="/100days">100 days</a></button>
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>