alembic
Chameleon
hupper
Mako
MarkupSafe
PasteDeploy
plaster
plaster-pastedeploy
Pygments
pyramid
pyramid-chameleon
pyramid-mako
python-dateutil
python-editor
repoze.lru
six
SQLAlchemy
translationstring
venusian
waitress
WebOb
zope.deprecation
zope.interface
