/*********** LAYOUT DEMO ****************/
body {
    font-size: 24px;
    padding: 0;
}

/* color list hyperlinks #aaa even when visited */
/* color list hyperlinks white, no underline when hovered */
/* color list hyperlinks yellow, no underline when clicked */
/* style page hyperlinks bold */
/* color background of nav to #222*/
/* list items horizontal, padding 5 & 10*/

.page-content {
    font-size: 18px;
    padding: 10px;
}
