/*********** LAYOUT DEMO ****************/
body {
    font-size: 24px;
    padding: 0;
}

ol {
    background-color: #222;
}

li {
    display: inline-block;
    padding: 5px;
    padding-right: 10px;
}

li a, li a:visited {
    color: #aaa;
}

li a:hover {
    color: white;
    text-decoration: none;
}

li a:active {
    color: yellow;
    text-decoration: none;
}

