{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PyBites Quotes</title>
    <link href="//cdn.muicss.com/mui-0.9.40/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.40/js/mui.min.js"></script>
  </head>
  <body
    {% if quote and quote.cover %}
      style="background: url({{ quote.cover }}) no-repeat center center fixed; background-size:cover;"
    {% endif %}
  >
    <header class="mui-appbar mui--z1">
      <div class="mui-container">
        <table>
          <tr class="mui--appbar-height">
            <td class="mui--text-title"><a id="pageTitle" href="{% url "quotes:quote_list" %}">PyBites Quotes</a></td>
            <td class="mui--text-right">
              <ul class="mui-list--inline mui--text-body2">
                <li><a href="#">About</a></li>
                {% if request.user.is_authenticated %}
                  <li>Welcome back {{ request.user.username }}, <a href="{% url 'logout' %}">logout</a></li>
                {% else %}
                  <li><a href="{% url 'login' %}">Login to add quotes</a></li>
                {% endif %}
              </ul>
            </td>
          </tr>
        </table>
      </div>

    </header>

    <div id="content-wrapper"
      {% if quote and quote.cover %}
        style="background: #fff; color: #000; opacity: 0.8;"
      {% endif %}
    >

      <div class="mui--appbar-height"></div>

      <div class="mui-container">
        <br><br>

        <div id="messages">
          {% for message in messages %}
            <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
              {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
            </p>
          {% endfor %}
        </div>

        {% block content %}{% endblock %}
      </div>

    </div><!-- end content-wrapper -->

    <footer>
      <div class="mui-container mui--text-center">
        Made with ♥ by <a href="https://www.muicss.com">MUICSS</a>
      </div>
    </footer>

  </body>
</html>
